In [247]:
#  CLEANING AND JOINING COVID AND EMPLOYMENT DATA

In [248]:
import pandas as pd 
import numpy as np

In [249]:
covid_df=pd.read_csv("./data/covid_confirmed_usafacts.csv")
covid_df.shape

(3195, 311)

In [250]:
#covid_df['State'].value_counts()

In [251]:
covid_NJ = covid_df.loc[covid_df['State']=='NJ']
covid_NJ.reset_index(drop=True, inplace=True)
covid_NJ.shape

(22, 311)

In [252]:
covid_NJ.head()

,countyFIPS,County Name,State,stateFIPS,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20
0,0,Statewide Unallocated,NJ,34,0,0,0,0,0,0,...,652,669,669,706,734,734,640,650,697,724
1,34001,Atlantic County,NJ,34,0,0,0,0,0,0,...,6448,6555,6608,6728,6829,6920,7023,7162,7257,7341
2,34003,Bergen County,NJ,34,0,0,0,0,0,0,...,28821,29223,29409,29800,30224,30666,31006,31447,31851,32245
3,34005,Burlington County,NJ,34,0,0,0,0,0,0,...,10222,10527,10632,10849,11020,11225,11411,11699,11996,12174
4,34007,Camden County,NJ,34,0,0,0,0,0,0,...,14464,14863,15032,15295,15517,15830,16103,16540,16862,17111

In [253]:
# Dropping state and January columns
cols_to_drop = ['State','stateFIPS',"1/22/20","1/23/20","1/24/20","1/25/20","1/26/20","1/27/20","1/28/20","1/29/20","1/30/20","1/31/20"]
df = covid_NJ.drop(columns=cols_to_drop, axis=1)
df.shape

(22, 299)

In [254]:
df.head(3)

,countyFIPS,County Name,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,...,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20
0,0,Statewide Unallocated,0,0,0,0,0,0,0,0,...,652,669,669,706,734,734,640,650,697,724
1,34001,Atlantic County,0,0,0,0,0,0,0,0,...,6448,6555,6608,6728,6829,6920,7023,7162,7257,7341
2,34003,Bergen County,0,0,0,0,0,0,0,0,...,28821,29223,29409,29800,30224,30666,31006,31447,31851,32245

In [255]:
# Drop first row  - Statewide Unallocated
df=df[1:]
df.head(3)

,countyFIPS,County Name,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,...,11/14/20,11/15/20,11/16/20,11/17/20,11/18/20,11/19/20,11/20/20,11/21/20,11/22/20,11/23/20
1,34001,Atlantic County,0,0,0,0,0,0,0,0,...,6448,6555,6608,6728,6829,6920,7023,7162,7257,7341
2,34003,Bergen County,0,0,0,0,0,0,0,0,...,28821,29223,29409,29800,30224,30666,31006,31447,31851,32245
3,34005,Burlington County,0,0,0,0,0,0,0,0,...,10222,10527,10632,10849,11020,11225,11411,11699,11996,12174

In [256]:
# Get totals for each month

df['Feb-20']=df.loc[:, "2/1/20":"2/29/20"].sum(axis=1)
df['Mar-20']=df.loc[:, "3/1/20":"3/31/20"].sum(axis=1)
df['Apr-20']=df.loc[:, "4/1/20":"4/30/20"].sum(axis=1)
df['May-20']=df.loc[:, "5/1/20":"5/31/20"].sum(axis=1)
df['Jun-20']=df.loc[:, "6/1/20":"6/30/20"].sum(axis=1)
df['Jul-20']=df.loc[:, "7/1/20":"7/31/20"].sum(axis=1)
df['Aug-20']=df.loc[:, "8/1/20":"8/31/20"].sum(axis=1)
df['Sep-20']=df.loc[:, "9/1/20":"9/30/20"].sum(axis=1)
df['Oct-20']=df.loc[:, "10/1/20":"10/31/20"].sum(axis=1)
df['Nov-20']=df.loc[:, "11/1/20":"11/23/20"].sum(axis=1)

df_total=df[['countyFIPS',"County Name",'Feb-20','Mar-20','Apr-20', 'May-20','Jun-20','Jul-20','Aug-20','Sep-20','Oct-20','Nov-20']]
df_total.head()

,countyFIPS,County Name,Feb-20,Mar-20,Apr-20,May-20,Jun-20,Jul-20,Aug-20,Sep-20,Oct-20,Nov-20
1,34001,Atlantic County,0,164,11294,51979,76442,95780,110715,117629,144160,143979
2,34003,Bergen County,0,15881,322111,534325,565409,618411,653323,661720,734944,652622
3,34005,Burlington County,0,1035,41494,118942,147543,168521,189993,204122,241893,232633
4,34007,Camden County,0,1111,52623,163864,209890,241403,271588,286980,333831,325598
5,34009,Cape May County,0,65,5185,15158,20168,23257,26431,29235,33289,30100

In [257]:
df_total.shape

(21, 12)

In [258]:
df_total.to_csv('./data/df_total.csv')

In [259]:
df_final = df_total.melt(id_vars=['countyFIPS','County Name'], var_name='Month_Year',value_name='Cases').sort_values('countyFIPS')
df_final.head()

     countyFIPS      County Name Month_Year   Cases
0         34001  Atlantic County     Feb-20       0
84        34001  Atlantic County     Jun-20   76442
126       34001  Atlantic County     Aug-20  110715
63        34001  Atlantic County     May-20   51979
147       34001  Atlantic County     Sep-20  117629

In [290]:
# create a numeric month column
month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
df_final['Month_c'] = df_final['Month_Year'].str.slice(0, 3) 
df_final['Month'] = df_final.Month_c.map(month_dict)
df_final['Year'] = '20'
df_final.head()

     countyFIPS      County Name Month_Year   Cases Month_c  Month Year
0         34001  Atlantic County     Feb-20       0     Feb      2   20
84        34001  Atlantic County     Jun-20   76442     Jun      6   20
126       34001  Atlantic County     Aug-20  110715     Aug      8   20
63        34001  Atlantic County     May-20   51979     May      5   20
147       34001  Atlantic County     Sep-20  117629     Sep      9   20

In [335]:
df_final_s = df_final.sort_values(['countyFIPS','Month'])
df_final_s.head()

    countyFIPS      County Name Month_Year  Cases Month_c  Month Year
0        34001  Atlantic County     Feb-20      0     Feb      2   20
21       34001  Atlantic County     Mar-20    164     Mar      3   20
42       34001  Atlantic County     Apr-20  11294     Apr      4   20
63       34001  Atlantic County     May-20  51979     May      5   20
84       34001  Atlantic County     Jun-20  76442     Jun      6   20

In [338]:
df_final_s['countyFIPS'] = df_final_s['countyFIPS'].astype(str)
df_final_s['County_FIPS']  = df_final_s['countyFIPS'].str.slice(2,) 
df_final_s.head()

,countyFIPS,County Name,Month_Year,Cases,Month_c,Month,Year,County_FIPS
0,34001,Atlantic County,Feb-20,0,Feb,2,20,001
21,34001,Atlantic County,Mar-20,164,Mar,3,20,001
42,34001,Atlantic County,Apr-20,11294,Apr,4,20,001
63,34001,Atlantic County,May-20,51979,May,5,20,001
84,34001,Atlantic County,Jun-20,76442,Jun,6,20,001

In [339]:
df_final_s.to_csv('./data/covid_transformed.csv')

In [340]:
df_final_s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 0 to 209
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   countyFIPS   210 non-null    object
 1   County Name  210 non-null    object
 2   Month_Year   210 non-null    object
 3   Cases        210 non-null    int64
 4   Month_c      210 non-null    object
 5   Month        210 non-null    int64
 6   Year         210 non-null    object
 7   County_FIPS  210 non-null    object
dtypes: int64(2), object(6)
memory usage: 14.8+ KB

In [263]:
# EMPLOYMENT DATA

In [325]:
employment_df=pd.read_excel("./data/laucntycur14_v1.xlsx", dtype=str)
employment_df.shape

(45069, 11)

In [326]:
employment_df.head(3)

,LAUS Code,State FIPS Code,County FIPS Code,County Name,State Abbreviation,Month_Year,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,01,1,Autauga County,AL,Aug,19,26079,25368,711,2.7
1,CN0100300000000,01,3,Baldwin County,AL,Aug,19,97939,95367,2572,2.6
2,CN0100500000000,01,5,Barbour County,AL,Aug,19,8652,8322,330,3.8

In [327]:
 empl_NJ_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LAUS Code              0 non-null      object
 1   State FIPS Code        0 non-null      float64
 2   County FIPS Code       0 non-null      object
 3   County Name            0 non-null      object
 4   State Abbreviation     0 non-null      object
 5   Month_Year             0 non-null      object
 6   Year                   0 non-null      object
 7   Labor Force            0 non-null      object
 8   Employed               0 non-null      object
 9   Unemployed             0 non-null      object
 10  Unemployment Rate (%)  0 non-null      object
dtypes: float64(1), object(10)
memory usage: 124.0+ bytes

In [344]:
empl_NJ_df = employment_df.loc[employment_df['State FIPS Code']=='34']
empl_NJ_df.reset_index(drop = True, inplace=True)
empl_NJ_df['County FIPS Code'] = empl_NJ_df['County FIPS Code'].str.zfill(3)
empl_NJ_df.shape

(294, 11)

In [345]:
empl_NJ_df.head()

,LAUS Code,State FIPS Code,County FIPS Code,County Name,State Abbreviation,Month_Year,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN3400100000000,34,001,Atlantic County,NJ,Aug,19,124209,118285,5924,4.8
1,CN3400300000000,34,003,Bergen County,NJ,Aug,19,482282,466973,15309,3.2
2,CN3400500000000,34,005,Burlington County,NJ,Aug,19,231562,223409,8153,3.5
3,CN3400700000000,34,007,Camden County,NJ,Aug,19,253992,243189,10803,4.3
4,CN3400900000000,34,009,Cape May County,NJ,Aug,19,55575,53481,2094,3.8

In [346]:
df_final_s.head()

,countyFIPS,County Name,Month_Year,Cases,Month_c,Month,Year,County_FIPS
0,34001,Atlantic County,Feb-20,0,Feb,2,20,001
21,34001,Atlantic County,Mar-20,164,Mar,3,20,001
42,34001,Atlantic County,Apr-20,11294,Apr,4,20,001
63,34001,Atlantic County,May-20,51979,May,5,20,001
84,34001,Atlantic County,Jun-20,76442,Jun,6,20,001

In [295]:
# empl_NJ_df.info()

In [269]:
# JOIN COVID AND EMPLOYMENT DATA on County FIPS Code AND MONTH_YEAR

In [347]:
joined_df = pd.merge(df_final_s, empl_NJ_df, how='left', left_on=["County_FIPS","Month_c","Year"], right_on=["County FIPS Code","Month_Year","Year"])
joined_df.head()

,countyFIPS,County Name_x,Month_Year_x,Cases,Month_c,Month,Year,County_FIPS,LAUS Code,State FIPS Code,County FIPS Code,County Name_y,State Abbreviation,Month_Year_y,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,34001,Atlantic County,Feb-20,0,Feb,2,20,001,CN3400100000000,34,001,Atlantic County,NJ,Feb,121288,113570,7718,6.4
1,34001,Atlantic County,Mar-20,164,Mar,3,20,001,CN3400100000000,34,001,Atlantic County,NJ,Mar,120344,113532,6812,5.7
2,34001,Atlantic County,Apr-20,11294,Apr,4,20,001,CN3400100000000,34,001,Atlantic County,NJ,Apr,122476,81068,41408,33.8
3,34001,Atlantic County,May-20,51979,May,5,20,001,CN3400100000000,34,001,Atlantic County,NJ,May,123110,83049,40061,32.5
4,34001,Atlantic County,Jun-20,76442,Jun,6,20,001,CN3400100000000,34,001,Atlantic County,NJ,Jun,130190,85419,44771,34.4

In [348]:
joined_df.to_csv('./data/covid_employment.csv')

In [314]:
joined_df.shape

(210, 16)

In [ ]:
# September unemployment data is partial No data for Oct, Nov - Deleting rows for Sep to Nov

In [353]:
filter1 = joined_df['Month'].isin([2,3,4,5,6,7,8])
joined_df_final=joined_df[filter1]
joined_df_final.shape

(147, 18)

In [354]:
joined_df_final.to_csv('./data/joined_df_final.csv')